<h1>Perfil de usuario</h1>
<hr>

<h3>Información principal</h3>
<ul *ngIf="authService.user$ | async as user">
  <li>Nombre: {{ user.name }}</li>
  <li>Email: {{ user.email }}</li>
  <img src="{{ user.picture }}">
</ul>

<small>Imagen del perdil de usuario</small>
<div class="container" *ngIf="authService.user$ | async as user" >
  <img src="{{ user.picture }}">
</div>


<h3>Toda la información del usuario</h3>
<pre *ngIf="authService.user$ | async as user">
  <code>{{ user | json }}</code>
</pre>
